body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-shrink: 0;
    min-height: 100%;
}

.background {

}

.headerBar {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    text-decoration: none;
    position: fixed;
}

