body {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-shrink: 0;
    min-height: 100%;
}

.background {

}

.headerBar {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    text-decoration: none;
    position: fixed;
}

.leftBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 0.8em;
    border: 1px red solid;
    max-width: fit-content;
}

/* .logoContainer {
    display: flex;
    border: 1px blue solid;
    width: 12em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */


.logoGodofWar {
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-family: 'Times New Roman', Times, serif;
    /* change font to god of war style */
}

/* .logoImageContainer {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
} */

.kratosImage {
    width: 4em;
}


/* .audioController {

} */


/* #audioController:hover {

} */


/* .sourcesContainer {

}

.link  {

}

.link:hover {

}

.dropdownContent {

}


.aboutCopyright {

}


.sourcesLink {

}

.dm {

} */

.rightBarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 25em;
    margin-right: 0.8em;
    border: 1px red solid;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

/* Coming back to links later */